{% extends "shop/base.html" %}
{% block content %}
<main  style="margin-left: auto; margin-right: auto; background-color: rgb(208, 223, 214); border-radius: 20px; margin-top: 25px; padding-left: 15px;" class="text-center" ><br>
            
    <h3 style="text-align: center;"><a href="#" style="text-decoration: none; color: darkolivegreen;"> LSAT COMPUTER</a></h3> <br> <br>
    <p style="color: rgb(85, 90, 85);"> Adresse: <b> Yaounde-Quartier Nlong-kak  </b></p> <br> <br>
    <p style="color: rgb(85, 90, 85);">  Numero de telephone: <b> 681 16 75 59 / 675 35 84 83 </b></p> 
    <br> <br>
    <p style="color: rgb(85, 90, 85);">  E-mail: <b> oceanemaeva9@gmail.com / maevaandy6@gmail.com </b> </p> <br> <br>
    
</main>
{% endblock %}